<%= form_for(@cs_integer) do |f| %>
  <% if @cs_integer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cs_integer.errors.count, "error") %> prohibited this cs_integer from being saved:</h2>

      <ul>
      <% @cs_integer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :celebrity_name %><br />
    <%= f.text_field :celebrity_name %>
  </div>
  <div class="field">
    <%= f.label :celebrity_screen_name %><br />
    <%= f.text_field :celebrity_screen_name %>
  </div>
  <div class="field">
    <%= f.label :origin %><br />
    <%= f.text_field :origin %>
  </div>
  <div class="field">
    <%= f.label :origin_url %><br />
    <%= f.text_field :origin_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
