<h1>Listing cs_integers</h1>

<table>
  <tr>
    <th>Celebrity name</th>
    <th>Celebrity screen name</th>
    <th>Origin</th>
    <th>Origin url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cs_integers.each do |cs_integer| %>
  <tr>
    <td><%= cs_integer.celebrity_name %></td>
    <td><%= cs_integer.celebrity_screen_name %></td>
    <td><%= cs_integer.origin %></td>
    <td><%= cs_integer.origin_url %></td>
    <td><%= link_to 'Show', cs_integer %></td>
    <td><%= link_to 'Edit', edit_cs_integer_path(cs_integer) %></td>
    <td><%= link_to 'Destroy', cs_integer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cs integer', new_cs_integer_path %>
