<p id="notice"><%= notice %></p>

<h1><%= @cs_integer.id %></h1>

<p>
	A fashionable integer as used by <a href="<%= @cs_integer.origin_url -%>"><%= @cs_integer.celebrity_name -%> on <%= @cs_integer.origin -%></a>.
</p>



<%= link_to 'Back', cs_integers_path %>
