<% provide(:title, @cs_integer.id.to_s ) %>

<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<div class="intdisp">
  <h1 class="integer"><%= @cs_integer.id %></h1>

  <p class="integer-description">
  	A <em><%= @cs_integer.adjective -%></em> integer as used by <a href="<%= @cs_integer.origin_url -%>"><%= @cs_integer.celebrity_name -%> on <%= @cs_integer.origin -%></a>.
  </p>

  <div id="tweetbox"></div>
  <div id="tweetboxfooter">
    Guaranteed Authentic&trade;:
    http://twitter.com/<%= @cs_integer.celebrity_screen_name -%>/status/<span class="int"><%= @cs_integer.id -%></span>
  </div>

  <p><%= button_to "Another please", cs_integers_path %></p>
</div>

<script src="https://api.twitter.com/1/statuses/oembed.json?id=<%= @cs_integer.id -%>&hide_media=true&hide_thread=true&align=center&callback=rendertweet"></script>

