<% provide(:title, 'Home') %>

<%= image_tag 'canal1.jpeg', :width => 200, :height => 133 %>
<%= image_tag 'canal2.jpeg', :width => 200, :height => 133 %>
<%= image_tag 'canal3.jpeg', :width => 200, :height => 133 %>
<%= image_tag 'canal4.jpeg', :width => 200, :height => 133 %>

<h1>WELCOME TO CANAL ST. INTEGERS!</h1>
<p>
  The latest fashions and styles!
  Canal St. Integers provides you integers-as-a-service focusing on QUALITY integers from NAME-BRAND social network sources such as TWITTER and FACEBOOK!  Our integers are GUARANTEED to be just like the ones used by FAMOUS CELEBRITIES!
</p>

<p>
  No one will be able to tell the difference, and best of all, Canal St. Integers are AFFORDABLE FOR YOU.  
</p>
<p>
  Want to purchase our fine integers?  <strong><%= link_to "Step inside to create a new CSint...", new_cs_integer_path %></strong>
</p>
