<!DOCTYPE html>
<html>
<head>
  <title>Canal St. Integers | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
  
  <%= yield %>

  <footer>
    copyright 2012 canal st. integers
    <nav>
      <%= link_to "home", root_path %> |
      <%= link_to "about", about_path %> |
      <%= link_to "api", api_path %> |
      <%= link_to "create", new_cs_integer_path %>
    </nav>
  </footer>

</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-52956-11']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
